@import "../../scss/main.scss";

.button {
    min-width: 10rem;
    padding: 0.8rem 2rem;
    border-radius: 1000px;
    border: 1px solid $gray;
    background-color: $red;
    color: white;
    font-size: $fs-lg;
    font-weight: $fw-semibold;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        background-color: transparent;
        border-color: $red;
    }
}
