$mobile: 480px;
$tablet: 560px;
$laptop: 1280px;

$ff-body: "Montserrat", sans-serif;

$red: #fa4a0c;
$dark: #252b42;
$gray: #737373;
$semigray: #e4e4e4;
$lightgray: rgba(231, 238, 245, 0.25);
$darkgray: #5c5c5c;
